@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway:800,400,300);

#subtitle {

  animation: animate 15s linear alternate infinite;
}

@mixin foggy-background($x, $y) {
    background:
      radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%) 400px+$x*3 300px+$y*2 no-repeat,
      radial-gradient(ellipse at center, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 40%) 0px+$x*3 0px+$y*2 no-repeat,
      radial-gradient(ellipse at center, rgba(255,255,255,.6) 0%,rgba(255,255,255,0) 50%) 50px+$x*2 300px+$y no-repeat,
      radial-gradient(ellipse at center, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 40%) -200px+$x -150px+$y no-repeat,
      #000;
}

@keyframes animate {
  0% {
    @include foggy-background(-400, -300);
  }
  
  100% {
    @include foggy-background(200, 500);
  }
}

#subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}