@import "_variables.scss";
@import "_fonts.scss";


.header1{
  height: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.header1-text {
  text-align: center;
  color: $dogcolor;
}

#title{
  font-size: 3rem;
  margin: 0.5rem; 
  text-transform: uppercase;
}

#subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0.5rem; 
}






  
  