.mainimage {
    width: 30%;
    top: -2.5rem;
    z-index: 1;
    position: relative;
    display: block;
    margin-right: 41rem;
    margin-left: auto;
    align-content: center;
    z-index:1;  
    border-radius: 50%;
    border: 1rem solid $border;
    box-shadow: 1rem 1rem 1rem $shadow;
}


